* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Courier New", Courier, monospace, Geneva, Tahoma, sans-serif;
  --clr-primary: rgb(250, 205, 184);
  --clr-primary-dark: rgb(133, 54, 32);
  --clr-gray: #555;
  --clr-gray-light: rgb(238, 236, 236);
  --clr-white: white;
  --padding: 0.5rem;
}
body {
  background-color: var(--clr-gray-light);
}
h1 {
  margin-top: 2rem;
  color: var(--clr-gray);
  font-size: 2.4rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#text {
  text-align: center;
  padding: var(--padding);
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--clr-primary-dark);
}
.game {
  width: 15rem;
  display: grid;
  grid-template-columns: auto auto auto;
}
.field {
  padding: var(--padding);
  width: 5rem;
  height: 3rem;
  margin: auto;
  border: 1px solid var(--clr-primary-dark);
  box-shadow: 1px 1px 2px var(--clr-gray);
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--clr-gray);
  cursor: pointer;
}
.field:hover {
  background-color: var(--clr-primary);
  color: var(--clr-primary-dark);
}
#btn-reset {
  padding: var(--padding);
  width: 8rem;
  height: 2.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-primary-dark);
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 2px var(--clr-primary);
  font-size: 1.1rem;
  cursor: pointer;
}
#btn-reset:hover {
  background-color: var(--clr-gray-light);
  color: var(--clr-primary-dark);
}

#player-turn {
  padding: var(--padding);
  box-shadow: 0px 0px 2px var(--clr-primary);
  background-color: var(--clr-gray-light);
  border: 1.5px dotted var(--clr-primary-dark);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--clr-primary-dark);
}
